/*----------------------------------------*/
/*  01. Template default CSS
/*----------------------------------------*/

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

/*-- Google Font --*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&family=Overpass:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap");
/*-- Common Style --*/
*,
*::after,
*::before {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    position: relative;
    font-family: $font-family-base;
    font-size: 16px;
    color: $body-color;
    line-height: 2;
    visibility: visible;
    overflow: scroll;
    scroll-behavior:smooth;
    &[dir="rtl"] {
        text-align: right;
    }
}
a:hover,
a:focus,
a:active,
button:focus,
.btn:focus,
input:focus,
select,
textarea {
    border: 0;
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    color: $headings-color;
}

h1 {
    font-size: 40px;
}
h2 {
    @media #{$tablet-device} {
        font-size: 40px;
    }
    @media #{$large-mobile} {
        font-size: 30px;
    }
    @media #{$extra-small-mobile} {
        font-size: 26px;
    }
}
h3 {
    font-size: 30px;
    @media #{$tablet-device} {
        font-size: 25px;
    }
    @media #{$large-mobile} {
        font-size: 20px;
    }
    @media #{$extra-small-mobile} {
        font-size: 20px;
    }
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
a {
    text-decoration: none;
    transition: $transition-base;
    color: $dark;

    &:hover {
        color: $ilo-blue;
        transition: $transition-base;
    }
}
p {
    &:last-child {
        margin-bottom: 0;
    }
    & .tri-bullet {
        color: $ilo-turquoise;
        font-size: 0.7rem;
    }
}
ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}
::selection {
    color: $white;
    background: #5dade2;
}
img {
    max-width: 100%;
}
/* Overlay */
[data-overlay] {
    position: relative;
    z-index: 1;

    &::before {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-color: rgb(49, 46, 65);
    }
}

.overlay {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}

@for $i from 0 through 20 {
    [data-overlay="#{$i * .1}"] {
        &::before {
            opacity: 0.1 * $i;
        }
    }
}
/* Background Image */
[data-bg-image] {
    background-repeat: repeat;
    background-position: top center;

    &:not(.bg-pattern) {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
    }
}
// Image width
.fit-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-clip-path: polygon(calc(100% - 30px) 0, 100% 30px, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(calc(100% - 30px) 0, 100% 30px, 100% 100%, 0 100%, 0 0);
    & :hover {
        -webkit-clip-path: polygon(calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%, 0 0);
        clip-path: polygon(calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%, 0 0);
    }
}
/* Section Style */
.section,
.section-fluid {
    float: left;
    width: 100%;
}
.section-fluid {
    padding-right: 222px;
    padding-left: 222px;
    @media #{$laptop-device, $desktop-device,
    $tablet-device,
    $large-mobile} {
        padding-right: 0px;
        padding-left: 0px;
    }
    @media #{$extra-small-mobile} {
        padding-right: 0;
        padding-left: 0;
    }
}

// Custom Container
// Container
.container {
    padding-right: var(--bs-gutter-x, 15px);
    padding-left: var(--bs-gutter-x, 15px);
    @media #{$extraBig-device, $laptop-device} {
        max-width: 1200px;
    }
    &.custom-container {
        @media #{$extraBig-device} {
            max-width: 1270px;
        }
    }
}
// Header Container
.header-container {
    @media #{$extraBig-device} {
        padding: 0 75px;
    }
}
// Custom Row
.row {
    --bs-gutter-x: 30px;
}
// Custom Col
.col-el-4 {
    @media #{$extraBig-device} {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}
// Gutter Style
.no-gutter {
    margin-right: 0;
    margin-left: 0;
}
.no-gutter [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}
.uuper_box {
    clip-path: polygon(calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%, 0 0);
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    padding: 2.5rem 1rem 2rem 25rem;
    margin-left: -25rem;
    margin-bottom: 0%;
    overflow: visible;
    position: relative;
    &.thematics {
        margin-bottom: -2%;
    }
    &.home {
        width: 110%;
        padding: 2.5rem 1rem 5rem 25rem;
        margin-bottom: 2%;
    }
    @media #{$desktop-device, $tablet-device, $large-mobile} {
        padding-left: 10rem;
        margin-left: -10rem;
        width: 100%;
        margin-bottom: -1%;
    }
    @media #{$extra-small-mobile }{
        padding: 1rem .5rem .5rem;
        padding-left: 1rem;
        margin-left: -2rem;
        width: 110%;
    }
    & h1 {
        transition: $transition-base;
        font-family: "Overpass", sans-serif;
        font-weight: bold;
        color: $ilo-blue;
        width: 90%;
        margin-bottom: 0;
        @media #{$tablet-device, $large-mobile} {
            font-size: 2.2rem;
            line-height: 2.5rem;
            margin-right: auto;
            width: 80%;
        }
        @media #{$extra-small-mobile} {
            font-size: 32px;
            line-height: 39px;
        }
    }
    & h2 {
        transition: $transition-base;
        font-family: "Overpass", sans-serif;
        font-weight: 300;
        color: $ilo-dark-blue;
        margin-bottom: 0;
        @media #{$tablet-device, $large-mobile} {
            font-size: 23px;
        }
    }
    & h3 {
        transition: $transition-base;
        font-family: "Overpass", sans-serif;
        font-weight: 200;
        color: $ilo-turquoise;
        padding-top: 1rem;
        margin-bottom: 0;
        width: 80%;
        @media #{$tablet-device, $large-mobile} {
            font-size: 19px;
            width: 100%;
        }
        & > mark {
            color: $ilo-red;
            background: $ilo-dark-blue;
            padding: 0.1rem 0;
        }
    }
    & h5 {
        transition: $transition-base;
        background:  $ilo-blue;
        color: $ilo-white;
        width: fit-content;
        padding: 0.2rem;
        line-height: 1;
    }
    & h4 {
        transition: $transition-base;
        color: $ilo-dark-blue;
    }
}
.btn-turquoise {
    font-size: 16px;
    padding: 1rem 2rem;
    border: 0px;
    line-height: 1.5;
    font-weight: 300;
    border-radius: 1px;
    display: block;
    transition: $transition-base;
    width: fit-content;
    background: $ilo-turquoise;
    color: $ilo-dark-blue;
    &:hover {
        color: $ilo-dark-blue;
        background: #69e4e4;
        & i {
            animation: referringArrow 1s ease;
            color: $ilo-blue;
        }
    }
    &:active {
        &:focus {
            box-shadow: none;
        }
    }
    & i {
        font-size: 14px;
        margin-left: 0.4rem;
    }
    &.btn-small {
        font-size: 14px;
        padding: 0.6rem 1.5rem;
    }
    @media #{$small-mobile} {
        padding: 15px 25px;
        & i {
            margin-left: 10px;
        }
    }
}
.btn-red {
    font-size: 16px;
    padding: 1rem 2rem;
    border: 0px;
    line-height: 1.5;
    font-weight: 300;
    border-radius: 1px;
    display: block;
    transition: $transition-base;
    width: fit-content;
    background: $ilo-red;
    color: $ilo-dark-blue;
    &:hover {
        color: $ilo-dark-blue;
        background: #FB636F;
        & i {
            animation: referringArrow 1s ease;
            color: $ilo-dark-blue;
        }
    }
    &:active {
        &:focus {
            box-shadow: none;
        }
    }
    & i {
        font-size: 14px;
        margin-left: 0.4rem;
    }
    &.btn-small {
        letter-spacing: 0.1;
        font-size: 12px;
        padding: 0.5rem 1rem;
    }
    @media #{$tablet-device, $large-mobile} {
        &.btn-small {
            letter-spacing: 0.1;
            font-size: 10px;
            padding: 0.3rem .5rem;
            & i {
                font-size: 9px;
                margin-left: 0.2rem;
            }
        }
    }
    @media #{$small-mobile} {
        padding: 15px 25px;
        & i {
            margin-left: 10px;
        }
    }
}
.btn-blue {
    font-size: 14px;
    padding: 1rem 2rem;
    border: 0px;
    line-height: 1.5;
    font-weight: 300;
    border-radius: 1px;
    display: block;
    transition: $transition-base;
    width: fit-content;
    background: $ilo-blue;
    color: $ilo-white!important;
    text-decoration: none !important;
    &:hover {
        color: $ilo-white;
        background: $ilo-legacy-blue;
        & i {
            animation: referringArrow 1s ease;
        }
    }
    &:active {
        &:focus {
            box-shadow: none;
        }
    }
    & i {
        font-size: 14px;
        margin-left: 0.4rem;
    }
    &.btn-small {
        letter-spacing: 0.1;
        font-size: 12px;
        padding: 0.5rem 1rem;
        @media #{$tablet-device, $large-mobile, $small-mobile} {
            font-size: 11px;
            padding: 5px 10px;
            & i {
                font-size: 10px;
                margin-left: 2px;
            }
        }
    }
    @media #{$small-mobile} {
        padding: 15px 25px;
        & i {
            margin-left: 10px;
        }
    }
}
.publications-link {
    position: absolute;
    bottom: 110px;
    right: 340px;
    @media #{$tablet-device, $large-mobile} {
        bottom: 20rem;
        right: 3rem;
    }
}

@keyframes referringArrow {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
    20% {
        opacity: 0;
        transform: translateX(22px) scale(0.9);
    }
    21% {
        opacity: 0;
        transform: translateX(-22px) scale(0.9);
    }
    45% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

.vision-image {
    width: 100%;
    display: flex;
    justify-content: center;
    @media #{$tablet-device,$large-mobile, $extra-small-mobile } {
        width: 70%;
        & svg {
            width: 8rem;
        }
    }
    & img {
        width: 20rem;
    }
}
.circle-value {
    transition: $transition-base;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}
.tooltip {
    opacity: 1 !important;

}
.tooltip-inner {
    background: $ilo-grey;
    border-radius: 1px;
    font-family: Noto Sans, sans-serif;
    font-size: 12px;
    line-height: normal;
    color: $ilo-dark-blue;
    padding: 1rem 1rem;
    text-align: left;
    & span {
        font-weight: bold;
    }
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: $ilo-grey !important;
}
.tooltip.bs-tooltip-right .tooltip-arrow::before {
    border-right-color: $ilo-grey  !important;
}
.tooltip.bs-tooltip-left .tooltip-arrow::before {
    border-left-color: $ilo-grey  !important;
}

.strong-copyright {
    font-family: Noto Sans, sans-serif;
    font-weight: 500;
    color: #141f85b7;
    font-size: 10px;
    text-align: right;
    overflow: hidden;
    padding: 0.1rem 0.3rem;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    background: rgba(255, 255, 255, 0.5);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    clip-path: polygon(calc(100% - 8px) 0, 100% 8px, 100% 100%, 0 100%, 0 0);
    & i {
        color: $ilo-blue;
        font-size: 8px;
        margin-right: .2rem;
    }
    @media #{$tablet-device,$large-mobile, $extra-small-mobile } {
        margin-left: auto!important;
        font-size: 8px;
        & i {
            color: $ilo-blue;
            font-size: 7px;
            margin-top: 0rem;
        }
    }

}

/* Section Spacing */
.section-padding {
    padding-top: 130px;
    padding-bottom: 130px;
    @media #{$tablet-device} {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media #{$large-mobile} {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}
.section-padding-top {
    padding-top: 130px;
    @media #{$tablet-device} {
        padding-top: 80px;
    }
    @media #{$large-mobile} {
        padding-top: 60px;
    }
}
.section-margin {
    margin-top: 80px;
    margin-bottom: 80px;
    @media #{$tablet-device} {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    @media #{$large-mobile} {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}
.section-margin-top {
    margin-top: 80px;
    @media #{$tablet-device} {
        margin-top: 40px;
    }
    @media #{$large-mobile} {
        margin-top: 30px;
    }
}
.section-margin-bottom {
    margin-bottom: 80px;
    @media #{$tablet-device} {
        margin-bottom: 40px;
    }
    @media #{$large-mobile} {
        margin-bottom: 30px;
    }
}
.section-center {
    display: flex;
    justify-content: center;
}
/* Section TItle */
.section-title {
    z-index: 1;
    padding-bottom: 40px;
    height: 100%;
    @media #{$tablet-device} {
        padding-bottom: 30px;
    }
    @media #{$large-mobile} {
        padding-bottom: 20px;
    }
    & .title {
        margin-bottom: 25px;
        margin-top: 10px;
        @media #{$extra-small-mobile} {
            margin-top: 0;
        }
        & .tri-bullet {
            color: $ilo-red;
            font-size: 1.4rem;
            vertical-align: middle;
            margin-bottom: .2rem;
        }
    }
    & .title-shape {
        position: relative;
        display: inline-block;
        line-height: 2;
        &::after {
            position: absolute;
            content: "";
            background-image: url(../../assets/images/shape-animation/title-shape.png);
            left: 0;
            width: 100%;
            max-width: 100%;
            height: 100%;
            top: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            z-index: -1;
        }

        &.shape-image-2 {
            &::after {
                background-image: url(../../assets/images/shape-animation/title-shape-2.png);
            }
        }
    }
    & p {
        max-width: 530px;
        font-family: Noto Sans, sans-serif;
        font-size: 1.125rem;
        line-height: 1.6rem;
        color: $ilo-dark-blue;
    }
    & h4 {
        color: $ilo-white;
    }
}
.loading {
    .char {
        overflow: hidden;
        color: transparent;
        color: $ilo-white;
        &:before,
        &:after {
            visibility: visible;
        }
        &:before {
            animation: _before 1.8s cubic-bezier(0.9, 0, 0.2, 1) infinite;
            animation-delay: calc(0.9s + (0.1s * (var(--char-index))));
            transform: translateY(0);
            opacity: 1;
        }
        &:after {
            animation: _after 1.8s cubic-bezier(0.9, 0, 0.2, 1) infinite;
            animation-delay: calc(0.9s + (0.1s * (var(--char-index))));
            transform: translateY(100%);
            opacity: 0.9;
        }
    }
}

@keyframes _before {
    to {
        transform: translateY(-100%);
        opacity: 0.9;
    }
}
@keyframes _after {
    to {
        transform: translate(0);
        opacity: 1;
    }
}

.life-w-section {
    height: 4px;
    clip-path: polygon(calc(100% - 4px) 0, 100% 4px, 100% 100%, 0 100%, 0 0);
    background: $ilo-blue;
}
.info-slides {
    scroll-snap-type: y mandatory;
    z-index: -20;
}
.info-section {
    scroll-margin-top: 20rem;
    &.pillars {
        scroll-margin-top: 10rem;
        margin-top: 1rem;
        &:nth-child(2) {
            flex-direction: row-reverse;
        }
    }
    z-index: -20;
    scroll-snap-align: start;
    height: 100%;
    min-height: calc(60vh - 117px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: flex-start;
    padding: 2rem 1rem;
    margin: 4rem 0;
    &.life-w {
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        & h4 {
            width: 70%;
            @media #{$tablet-device, $large-mobile} {
                width: 90%;
            }
        }
        & .info-text {
            width: 60%;
            @media #{$tablet-device, $large-mobile} {
                font-size: 0.9rem;
                width: 100%;
            }
        }
    }
    & .info-image {
        width: 40%;
        @media #{$tablet-device, $large-mobile} {
            position: relative;
            width: 100%;
            height: 40vh;
            overflow: hidden;
            margin-bottom: 1.5rem;
        }
    }
    & .info-text {
        width: 55%;
        & a {
            text-decoration: underline;
            text-underline-offset: 0.1rem;
        }
        @media #{$tablet-device, $large-mobile} {
            font-size: 0.9rem;
            width: 100%;
        }
    }
    @media #{$tablet-device, $large-mobile} {
        padding: 0;
        &.pillars {
            &:nth-child(2) {
                flex-direction: column;
            }
        }
        flex-direction: column;
        height: 100%;
    }
    & h4 {
        color: $ilo-blue;
        & .tri-bullet {
            color: $ilo-red;
            font-size: 14px;
            margin-right: 0.2rem;
        }
    }
    & p {
        & span {
            font-weight: bold;
            color: #049393;
        }
    }
}
.lavalamp-menu {
    position: sticky;
    top: 0rem;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 4rem 0 0.3rem 0;
    z-index: 1;
    &.pillars {
        & ul {
            margin: 1.5rem 0 0.3rem 0;
        }
    }
    & h3 {
        margin-top: 1rem;
    }
    & ul {
        display: flex;
        justify-content: space-between;
    }
}

.lavalamp-menu {
    & li {
        flex: 1 1 auto;
        align-self: center;
        display: inline-block;
        vertical-align: center;
        align-content: center;
        zoom: 1;
        *display: inline;
        padding: 0.9rem 0;

        border-radius: 1px;
        transition: 0.4s;
        border: 2px solid;
        border-color: $ilo-white;
        & h4 {
            color: $ilo-dark-blue;
            line-height: 1;
            margin-bottom: 0;
        }
        &.active {
            &.pillar1 {
                border-color: $ilo-turquoise;
                background: $ilo-grey;
            }
            &.pillar2 {
                border-color: $ilo-red;
                background: $ilo-grey;
            }
            &.pillar3 {
                border-color: $ilo-blue;
                background: $ilo-grey;
            }
            & h4 {
                color: $ilo-blue;
            }
        }
    }
}

.lavalamp-menu {
    & .lavalamp {
        position: absolute;
        bottom: 0;
        height: 4px;
        clip-path: polygon(calc(100% - 4px) 0, 100% 4px, 100% 100%, 0 100%, 0 0);
        background: $ilo-blue;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        padding: 0;
    }
    &.pillars {
        & .lavalamp {
            background: none;
        }
    }
}
.lavalamp-menu a {
    display: block;
    position: relative;
    line-height: 60px;
    text-decoration: none;
    padding: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    text-align: center;
    & img {
        width: 9rem;
        height: 9rem;
        @media #{$tablet-device} {
            width: 8rem;
            height: 8rem;
        }
        @media #{$large-mobile} {
            width: 4.5rem;
            height: 4.5rem;
        }
    }
}

.lavalamp-menu {
    & a:hover {
        opacity: 0.6;
    }
}

.thematic-areas {
    & .pillar2 {
        flex: 1 1 auto;
        align-self: center;
        display: inline-block;
        vertical-align: center;
        align-content: center;
        zoom: 1;
        *display: inline;
        padding: 0.9rem 2rem;
        border-radius: 1px;
        transition: 0.4s;
        border: 2px solid;
        border-color: $ilo-red;
        background: $ilo-grey;
        & a {
            text-decoration: none;
        }
        & h4 {
            color: $ilo-blue;
            line-height: 1;
            margin-bottom: 0;
        }
    }
    & a {
        text-decoration: underline;
    }
    & .list-group {
        & .list-group-item {
            color: $ilo-dark-blue;
            background: none;
            border-top: 1px solid rgba($ilo-blue, 0.125);
            &:nth-child(1) {
                border-top: none;
            }
            & i {
                font-size: 12px;
                color: $ilo-red;
            }
        }
    }
}
.thematic-card {
    transition: $transition-base;
    padding: 0.6rem;
    min-height: 10rem;
    width: 100%;
    height: 100%;
    font-size: 13px;
    line-height: 1.5;
    font-weight: 600;
    & span {
        color: $ilo-red;
        font-weight: 300;
    }
    color: $ilo-white;
    text-align: left;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #1e2ebe9a;
    &:hover {
        background-color: #1e2ebe48;
    }
}
.results-and-impact {
    a {
        text-decoration: underline;
    }
    .steps {
        width: 5rem;
        min-height: 5rem;
        clip-path: circle(50% at 50% 50%);
        background: #bedcfa;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        line-height: 1.5;
        font-weight: bold;
        &.s2 {
            background: $ilo-blue;
            color: #fff;
        }
        &.s3 {
            background: $ilo-dark-blue;
            color: #fff;
        }
    }
    .results-chart {
        display: flex;
        align-items: center;
        justify-content: start;
        height: 5rem;
        margin: 0.1rem 0;
        border-radius: 1px;
        & p {
            font-size: 12px;
            line-height: 1.5;
            margin: 0.5rem;
            width: 80%;
        }
        &.step-1 {
            background: #bedcfa;
            width: 50%;
            clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
        }
        &.step-2-1 {
            background: $ilo-blue;
            color: white;
            width: 65%;
            clip-path: polygon(0% 0%, 87% 0%, 100% 50%, 87% 100%, 0% 100%);
        }
        &.step-2 {
            background: $ilo-blue;
            color: white;
            width: 75%;
            clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
        }
        &.step-3 {
            background: $ilo-dark-blue;
            color: white;
            width: 100%;
            clip-path: polygon(0% 0%, 93% 0%, 100% 50%, 93% 100%, 0% 100%);
        }
    }
    .legend {
        height: 40rem;
        max-height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: flex-start;
        & p {
            display: flex;
            align-content: flex-start;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            text-align: left;
        }
        & span {
            font-size: 2rem;
            line-height: 1;
        }
        & .achievement {
            color: $ilo-blue;
        }
        & .ambition {
            color: $ilo-turquoise;
        }
    }
    & .legend-solo {
        padding-bottom: 0.7rem;
        display: flex;
        align-content: flex-start;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
    }
    & h6 {
        margin-top: 1rem;
        text-align: center;
        line-height: 1.1;
        color: $ilo-dark-blue;
        font-weight: 700;
        & span {
            font-weight: 500;
        }
    }
    & .impact-col {
        background: #bedcfa;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 5rem;
        margin: 0.1rem 0;
        padding: .2rem;
        border-radius: 1px;
        & img {
            height: 2.2rem;
        }
        &.mid {
            height: 5rem;
            background: $ilo-blue;
            color: white;
            width: 75%;
        }
        & p {
            font-size: 12px;
            line-height: 1.1;
        }
        &.i3 {
            background: $ilo-dark-blue !important;
            color: white;
        }
    }
}

// .team-section {

// }
// Social Share
.social-share {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    background: $primary;
    border-radius: 40px;
    height: 60px;

    & .social-title {
        font-size: 18px;
        color: $white;
        font-weight: 500;
        margin-bottom: 0;
        font-family: $headings-font-family;
        margin-top: -5px;
    }

    & ul {
        display: flex;
        align-items: center;
        margin-left: 10px;

        & li {
            & a {
                font-size: 14px;
                font-weight: 300;
                height: 40px;
                width: 40px;
                background: $ilo-legacy-blue;
                color: $white;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100%;
                margin-left: 10px;

                &:hover {
                    background: $white;
                    color: $ilo-legacy-blue;
                }
            }
        }
    }
}

.vertical-section {
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scrollable-content {
    overflow: scroll;
    width: 100%;
    height: 100%;
}

/* swiper default styles */
.swiper-pagination {
    position: static;
    display: block;
    line-height: 1;
    margin-top: 20px;
    @media #{$large-mobile} {
        margin-top: 0px;
    }
    .swiper-pagination-bullet {
        margin: 0 3px !important;
        transition: $transition-base;
        cursor: pointer;
        height: 12px;
        width: 12px;
        border: 2px solid $ilo-grey;
        background-color: transparent;
        opacity: 1;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            background: $ilo-blue;
            transition: 0.6s;
            opacity: 1;
        }
        &.swiper-pagination-bullet-active {
            background: $ilo-blue;
            transition: 0.6s;
        }
    }
}
.navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.swiper-nav-button {
    margin-top: 0;
    display: flex;
    color: $ilo-grey;
    font-size: 36px;
    transition: $transition-base;
    outline: none;
    opacity: 1;
    height: 25px;

    @media #{$large-mobile} {
        font-size: 30px;
    }

    &:hover {
        color: $ilo-blue;
    }

    &::after {
        display: none;
    }

    &.swiper-button-prev {
        position: relative;
        margin-right: 1rem;
    }
    &.swiper-button-next {
        position: relative;
        margin-left: 1rem;
    }
}

// Pagination Style
.pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    & a {
        font-size: 15px;
        font-weight: 500;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        border: 1px solid $ilo-grey;
        align-items: center;
        justify-content: center;
        margin: 0 5px;
        border-radius: 1px;

        &.active,
        &:hover {
            color: $white;
            background: $ilo-blue;
            border-color: $ilo-dark-blue;
        }
    }
    & span {
        position: relative;
        display: flex;
        height: 4px;
        width: 5px;
        margin: 0 3px;

        &::before {
            position: absolute;
            content: "";
            width: 5px;
            height: 5px;
            background: $ilo-grey;
            border-radius: 100%;
            bottom: 0;
        }
    }
}
.noUi-connect {
    background: $ilo-blue;
}
.noUi-tooltip {
    font-family: Noto Sans, sans-serif;
}
// Read More
.read-more {
    position: relative;
    padding-left: 15px;
    color: $ilo-blue;
    &::after {
        position: absolute;
        content: "►";
        color: $ilo-canary;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        top: 25%;
        left: 0;
        transform: translateY(-50%);
        // background: $ilo-grey;
        z-index: -1;
        transition: $transition-base;
    }

    &:hover {
        padding-left: 20px;
        &::after {
            color: $ilo-red;

            background: none;
        }
    }
}

/* Scroll Top style */
.scroll-top {
    position: fixed;
    right: 30px;
    bottom: -60px;
    z-index: 999;
    box-shadow: 0 30px 40px rgba(0, 0, 0, 0.03);
    display: block;
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(250, 60, 75, 0.5);
    background-size: 200% auto;
    background-position: left center;
    transition: 0.3s;
    overflow: hidden;
    border: 1px solid $ilo-red;
    color: $ilo-dark-blue;

    &:hover {
        background-color: $ilo-red;
        i {
            color: $ilo-white;
            transition: 0.3s;
        }
    }

    @media #{$extra-small-mobile} {
        font-size: 20px;
    }

    &.show {
        visibility: visible;
        opacity: 1;
        bottom: 60px;
    }

    i {
        position: absolute;
        top: 50%;
        left: 50%;
        color: $ilo-red;
        transition: 0.3s;
    }

    .arrow-top {
        transform: translate(-50%, -50%);
    }

    .arrow-bottom {
        transform: translate(-50%, 80px);
    }

    &:hover {
        background-position: right center;
        .arrow-top {
            transform: translate(-50%, -80px);
        }
        .arrow-bottom {
            transform: translate(-50%, -50%);
        }
    }
}
