$base-font-size: 16px;
$screen-xs-min: 30rem;
$screen-sm-min: 48rem;
$screen-md-min: 64rem;
$screen-lg-min: 75rem;
$lg-max-width: 71rem;
$base-padding: 2rem;
$base-negative-padding: -2rem;
$ilo-blue: #1e2dbe;
$ilo-legacy-blue: #151f85;
$ilo-dark-blue: #230050;
$ilo-mauve: #584275;
$ilo-red: #fa3c4b;
$ilo-red-1: #c8303c;
$ilo-white: #fff;
$ilo-white-unselected: #b6b6b6;
$ilo-turquoise: #05d2d2;
$ilo-green: #8ce164;
$ilo-yellow: #ffcd2d;
$ilo-yellow-hover: #ffdc6c;
$ilo-purple: #960a55;
$ilo-lilac: #eeebf2;
$ilo-pale-grey: #eceeff;
$ilo-grey: #ebf5fd;
$ilo-dark-grey: #a3a3a3;
$ilo-canary: #d4e7f5;
$type-black: #242323;
$type-grey: #707071;

$tooltip-font-size:                 14px;
$tooltip-max-width:                 200px;
$tooltip-color:                     $ilo-white;
$tooltip-bg:                        $ilo-blue;
$tooltip-border-radius:             1px;
$tooltip-opacity:                   .9;
$tooltip-margin:                    0;

$tooltip-arrow-width:               .8rem;
$tooltip-arrow-height:              .4rem;
$tooltip-arrow-color:               $tooltip-bg;