/*=======================================
    03.10 Gallery CSS
=========================================*/
.single-gallery {
  border-radius: 1px;
  margin-bottom: 20px;
  height: 100%;
  & .gallery-thumb {
    & a {
      display: block;
      overflow: hidden;
      border-radius: 1px;
      transition: 0.3s;
    }
  }
  &:hover {
    transition: 0.3s;
  }
}

// Project gallery
.single-gallery {
  position: relative;
  overflow: hidden;
  &:hover {
    & .gallery-content {
      bottom: 5%;
      transition: 0.4s;
      visibility: visible;
    }
  }
}
.gallery-content {
  position: absolute;
  bottom: -15%;
  left: 0;
  right: 0;
  padding: 2rem 1rem;
  background: rgb(255, 255, 255);
  opacity: 0.9;
  border-radius: 1px;
  transition: 0.4s;
  visibility: hidden;
  z-index: 99;
  @media #{$large-mobile, $tablet-device} {
    margin: .5rem;
    padding: .5rem;
  }
  & .title {
    font-weight: 600;
    font-size: 1rem;
    color: $ilo-blue;
    padding-right: 3rem;
    &:hover {
      text-decoration: underline;
    }
    @media #{$large-mobile, $tablet-device} {
      font-size: .8rem;
    }
  }
  & span {
    font-size: 0.8rem;
    line-height: 1rem;
    color: $ilo-dark-blue;
    font-weight: 600;
  }
}
