/*=======================================
    03.06 Kyframe-animation CSS
=========================================*/
@keyframes movebounce{
    0%{
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
    50%{
        -webkit-transform:translateY(10px);
        transform:translateY(10px)
    }
    to{
        -webkit-transform:translateY(0);
        transform:translateY(0)
    }
}
.aos-animate {
    & .splitting  .char {
      animation: write both;
      animation-duration: 1.5s;
      animation-delay: calc(0.1s + var(--char-index) * 160ms);
    }
  }
@keyframes write {
    from, 30% { clip-path: polygon(-20% 0%, -15% 0%, -15% 100%, -20% 100%) }
    70%, to { clip-path: polygon(-15% 0%, 120% 0%, 120% 100%, -15% 100%) }
}

@keyframes spin-1 {
    from {
        transform: rotate(320deg);
    }
    to {
        transform: rotate(680deg);
    }
}
@keyframes spin-2 {
    from {
        transform: rotate(125deg);
    }
    to {
        transform: rotate(485deg);
    }
}
@keyframes spin-3 {
    from {
        transform: rotate(300deg);
    }
    to {
        transform: rotate(660deg);
    }
}
@keyframes spin-4 {
    from {
        transform: rotate(90deg);
    }
    to {
        transform: rotate(450deg);
    }
}

@keyframes upIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

@keyframes morphing{
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.09);
    }
    // 0% {
    //     transform: scale(1);
    // }
    // 100% {
    //     transform: scale(1.09);
    // }
}