/*=======================================
    03.14 Team CSS
=========================================*/
.single-team {
    position: relative;

    & .team-content {
        padding: 25px 0 0;
        width: 100%;
        top: 100%;
        position: relative;
        text-align: start;

        & .title {
            margin-bottom: 5px;
            font-size: 24px;
            @media #{$desktop-device} {    
                font-size: 22px;
            }
        }

        & p {
            margin-bottom: 0px;
        }

        & .social-team {
            padding-top: 10px;
            display: flex;
            justify-content: flex-start;
            & a {
                display: flex;
                padding-right: 10px;
                font-size: 16px;
                color: $dark;
                line-height: 1;
                font-weight: 500;
            }
        }
    }

    &:hover {
        & .team-content {
            animation-name: flipInX;
            animation-duration: 1s;
            border-radius: 0 0 10px 10px;
            padding: 30px 0px;
            margin-top: -37px;
            text-align: center;
            background:$darken;
            & .title {
                color: $secondary;
            }
            & p {
                color: $white;
                transition: .3s;
            }
            & .social-team {
                justify-content: center;
                & a {
                    color: $white;
                    &:hover {
                        color: $secondary;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}