/*----------------------------------------*/
/*  04. Pages CSS
/*----------------------------------------*/

/*=======================================
    4.01 About CSS
=========================================*/
.about-content {
    font-family: Noto Sans, sans-serif;
    font-size: 1.125rem;
    line-height: 1.6rem;
    color: #230050;
    @media #{$desktop-device, $tablet-device, $large-mobile} {
        padding-left: 0;
    }

    & .title {
        margin-bottom: 0;
    }

    & .btn {
        margin-top: 40px;
        @media #{$tablet-device, $large-mobile} {
            margin-top: 20px;
        }
    }
    &__first-text {
        font-family: Noto Sans, sans-serif;
        font-size: 1.275rem;
        line-height: normal;
        letter-spacing: normal;
        font-weight: 700;
        color: #230050;
        margin-bottom: 30px;

        @media #{$tablet-device, $large-mobile} {
            margin-bottom: 20px;
        }
        & span {
            font-style: italic;
        }
    }
}
.about-image-area {
    position: relative;
    & .about-image {
        padding-right: 40px;
        @media #{ $tablet-device, $large-mobile} {
            padding-right: 10px;
        }
    }

    & .shape-1 {
        position: absolute;
        margin-top: -176px;
        margin-left: -50px;
        z-index: -1;

        @media #{$tablet-device, $large-mobile} {
            display: none;
        }
    }
}
.about-negative-image {
    position: relative;
    margin-top: -220px;
    z-index: 99;
    margin-bottom: 80px;

    @media #{$tablet-device} {
        margin-top: 80px;
    }
    @media #{$large-mobile} {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}
.home-sdgs {
    width: 100%;
    margin-right: auto;
    margin-top: 1rem;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        ". ."
        "thumbnails thumbnails";
    @media #{$large-mobile, $small-mobile, $extra-small-mobile} {
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 0.7fr;
        gap: 10px 10px;
        grid-template-areas:
            "."
            "."
            "thumbnails";
    }
    & figure {
        cursor: pointer;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        & p {
            transition: inherit;
            color: $ilo-white;
            font-family: 'Overpass', sans-serif;
            font-weight: bold;
            line-height: normal;
            font-size: 16px;
            width: 90%;
            margin-bottom: 0;
            padding: 0 .5rem;
            @media #{$large-mobile, $small-mobile, $extra-small-mobile} {
                font-size: 14px;
            }
        }
        & img {
            width: 45%;
        }
        & figcaption {
            padding: 5%;
            & p {
                padding-left: 0;
                font-size: 12px;
                color: #fff;
                opacity: 1;
                & h3 {
                    color: #fff;
                    font-size: 15px;
                }
            }
        }
        &.one {
            background: #eb1c2d;
            & figcaption {
                background: #eb1c2d;
            }
        }
        &.three {
            background: #279b48;
            & figcaption {
                background: #279b48;
            }
        }
    }
}

.thumbnails {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    grid-template-areas: ". . . . .";
    grid-area: thumbnails;
    @media #{$large-mobile, $small-mobile, $extra-small-mobile} {
        margin-bottom: 2rem;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
            ". . ."
            ". . .";
    }
    & img {
        cursor: pointer;
        width: 100%;
    }
}
