/*----------------------------------------*/
/*  04. Single countrie page CSS
/*----------------------------------------*/
.country-page-single {
    & p {
        font-size: 16px;
        line-height: 1.4;
        @media #{$extra-small-mobile } {
            font-size: 14px;
        }
    }
    & .red-link {
        color: $ilo-red;
        & i {
            font-family: "Material Icons";
            font-size: inherit;
            text-rendering: auto;
            vertical-align: middle;
            transition: $transition-base;
        }
        &:hover {
            color: #c8303c;
            & i {
                margin-left: 0.1rem;
            }
        }
    }
    & a {
        color: $ilo-blue;
        &:hover {
            color: $ilo-legacy-blue;
        }
    }
    .list-group {
        & .list-group-item {
            font-size: 16px;
            line-height: 1.5;
            color: $ilo-dark-blue;
            padding-left: 0;
            border-bottom: 1px solid #1e2ebe42;
            @media #{$extra-small-mobile } {
                font-size: 12px;
            }

            &::before {
                font-family: "Material Icons";
                content: "play_arrow";
                vertical-align: middle;
                color: $ilo-red;
                font-size: 18px;
                margin-left: -4px;
                @media #{$extra-small-mobile } {
                    font-size: 16px;
                }
            }
            &:last-child {
                border-bottom: none;
            }
        }
        &.country-results {
            & .list-group-item {
                padding: 1.1rem 0;
                line-height: 1.5;
                &::before {
                    content: "beenhere";
                    font-size: 18px;
                    vertical-align: middle;
                    color: $ilo-blue;
                }
                & a {
                    color: $ilo-dark-blue;
                    transition: $transition-base;
                    &::after {
                        transition: $transition-base;
                        font-family: "Material Icons";
                        content: "navigate_next";
                        font-size: 18px;
                        vertical-align: middle;
                    }
                    &:hover {
                        color: $ilo-legacy-blue;
                        &::after {
                            margin-left: 0.2rem;
                        }
                    }
                }
            }
        }
    }
    #latestsILOprojects {
        & a {
            font-size: 15px;
        }
        & .accordion-item {
            border-color: #1e2ebe2d;
            .accordion-header {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: row;
                flex-wrap: nowrap;
                padding: 0.5rem 0;
                font-size: 15px;
                & a {
                    & i {
                        font-family: "Material Icons";
                        font-size: inherit;
                        text-rendering: auto;
                        vertical-align: middle;
                    }
                }
            }
            .accordion-body {
                padding: 0 0 1rem 0;
                & .list-group-item {
                    padding-left: 1rem;
                    &::before {
                        content: "";
                    }
                }
            }
        }
        & .accordion-button {
            padding: 0;
            font-size: 12px;
            line-height: 1.3;
            margin: 0;
            justify-content: flex-end;
            color: $ilo-blue;
            width: fit-content;
            margin-left: auto;
            &::after {
                color: $ilo-blue;
                flex-shrink: 0;
                width: 1.25rem;
                height: 1rem;
                margin-left: 0.6rem !important;
            }
            &:not(.collapsed) {
                background: #fff;
                color: $ilo-blue;
                box-shadow: none;
            }
            &:focus {
                color: $ilo-blue;
                box-shadow: none;
            }
        }
    }
    .branches-conventions {
        & .branches {
            @media #{$tablet-device, $large-mobile, $extra-small-mobile } {
                padding-top: 2rem;
            }
            & .horizontal {
                justify-content: space-between;
                align-items: stretch;
                justify-items: stretch;
                & .list-group {
                    & .list-group-item {
                        &::before {
                            font-family: "Material Icons";
                            content: "play_arrow ";
                            text-rendering: auto;
                            color: $ilo-red;
                            font-size: 18px;
                            vertical-align: middle;
                            margin-right: 0.2rem;
                        }
                    }
                }
                & > .list-group-item {
                    padding: 0;
                    border-color: #fff !important;
                    &::before {
                        content: none;
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .results-section {
        & .list-group-item {
            font-size: 14px;
            font-weight: bold;
        }
    }
    .funding-gaps-section {
        & .funding-gaps-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 10px 10px;
            justify-content: stretch;
            align-content: center;
            justify-items: stretch;
            align-items: center;
            @media #{$extra-small-mobile, $tablet-device, $large-mobile} {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }
            & .funding-item {
                padding: 0.7rem;
                display: grid;
                grid-auto-rows: 1fr;
                grid-template-columns: 0.75fr 2fr;
                grid-template-rows: 1fr;
                justify-items: start;
                align-items: start;
                justify-content: start;
                align-content: start;
                border-right: 1px solid #d4e7f5;
                @media #{$extra-small-mobile, $tablet-device, $large-mobile} {
                    border-right: none;
                    &:nth-child(3),
                    &:nth-child(4) {
                        border-top: 1px solid #d4e7f5;
                    }
                }
                &:last-child {
                    border-right: none;
                }
                & .funding-icon {
                    height: 85px;
                }
                & h6 {
                    margin-bottom: 0.2rem;
                }
                & p {
                    text-align: left;
                    font-size: 15px;
                    margin-bottom: 0.3rem;
                    line-height: 1.5;
                }
            }
        }
    }
}
.border-red {
    border-right: 1px solid $ilo-red;
    @media #{$tablet-device, $extra-small-mobile } {
        border-right: none;
    }
}
.country-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    & .stat-card {
        padding: 1rem;
        background: $ilo-blue;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 2.5fr;
        grid-template-rows: 1fr;
        justify-items: start;
        align-items: center;
        align-content: center;
        grid-template-areas: ". .";
        & .icon {
            font-size: 4rem;
            color: $ilo-white;
            line-height: 1;
        }
        & article {
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            align-content: center;
            justify-items: start;
            align-items: center;
            grid-gap: 10px 0;
            & p {
                color: $ilo-white;
                font-size: 13px;
                margin-bottom: 0;
                line-height: 1.2;
            }
            & h4 {
                font-size: 20px;
                color: $ilo-white;
                margin-bottom: 0;
            }
        }
    }
}
.sub-stats {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    justify-content: space-evenly;
    align-content: center;
    justify-items: center;
    align-items: center;
    @media #{$extra-small-mobile, $tablet-device, $large-mobile } {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    & .stat-card {
        padding: 1rem;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.25fr;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        & img {
            height: 3rem;
        }
        & article {
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            justify-content: center;
            align-content: center;
            justify-items: center;
            align-items: center;
            & p {
                font-size: 12px;
                margin-bottom: 0;
                line-height: 1.2;
                text-align: center;
            }
            & h4 {
                font-size: 16px;
                color: $ilo-dark-blue;
                margin-bottom: 0;
                text-align: center;
            }
        }
    }
}
.bottom-tags {
    & .list-group {
        & .list-group-item {
            &::before {
                content: "";
                font-size: 11px;
                color: #707071;
                text-rendering: auto;
                vertical-align: middle;
            }
        }
    }
}
.impacts-section {
    & .impacts-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        @media #{$extra-small-mobile, $tablet-device, $large-mobile } {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
        & .impact-card {
            border-radius: 1px;
            border: 1px solid $ilo-canary;
            padding: 0.6rem;
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr;
            gap: 0px 1rem;
            justify-content: space-evenly;
            align-content: center;
            justify-items: stretch;
            align-items: center;
            & .impact-image {
                height: 100%;
                & img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            & p {
                font-size: 13px;
                line-height: 1.5;
            }
            & h5 {
                color: $ilo-dark-blue;
                margin-bottom: 0.2rem;
            }
        }
    }
}
