/*----------------------------------------*/
/*  04. Pages CSS
/*----------------------------------------*/

/*=======================================
    4.01 About CSS
=========================================*/
.partnerships-section {
    & .list-group {
        font-size: 14px;
        padding-right: 3rem;
        & .list-group-item {
            transition: $transition-base;
            cursor: pointer;
            &:hover {
                background-color: $ilo-grey;
            }
        }
    }
    #partnerships-diagram {
        & .blue {
            transition: $transition-base;
            fill: #9ef2f2;
            &.active {
                fill: $ilo-blue;
            }
        }
    }
}
.partners-panel {
    & .nav-pills {
        & .nav-link {
            font-size: 1.2rem;
            color: $ilo-dark-blue;
            text-align: left;
            margin-bottom: 1rem;
            padding: 0;
            &.active {
                color: $ilo-blue;
                background: none;
                font-weight: bold;
            }
        }
    }
    & .tab-content {
        min-height: 100vh;
        width: 100%;
    }
    & .tab-pane {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px 10px;
        grid-template-areas:
          ". . . ."
          ". . . ."
          ". . . .";
        & figure {
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 15rem;
            cursor: pointer;
            border: 1px solid $ilo-grey;
            & img {
                width: 50%;
            }
            & figcaption {
                padding: 1rem;
                background: $ilo-grey;
                & h5 {
                    font-size: 1.1rem;
                    color: $ilo-blue;
                }
            }
        }
    }
}
