.project-home-section {
    position: relative;
    height: 100%;
    min-height: 415px;
    font-family: Noto Sans, sans-serif;
    font-size: 1.125rem;
    line-height: 1.6rem;
    color: #230050;
    @media #{$tablet-device, $large-mobile} {
        min-height: inherit;
    }
    & .navigation-wrp {
        position: absolute;
        bottom: 750px;
        right: 450px;
        @media #{$tablet-device, $large-mobile} {
            bottom: 240px;
        }
        @media #{$extra-small-mobile} {
            bottom: 430px;
        }
    }
}
.project-with-title {
    position: relative;
    display: flex;
    height: 100%;
    @media #{$desktop-device} {
        flex-direction: row;
    }
    @media #{$tablet-device, $large-mobile} {
        flex-direction: column;
    }
    & .section-title {
        @media #{$tablet-device, $large-mobile} {
            margin-bottom: 30px;
        }
        @media #{$large-mobile} {
            margin-bottom: 10px;
        }
        & .title {
            @media #{$tablet-device, $large-mobile} {
                margin-bottom: 20px;
            }
        }

        & p {
            max-width: 335px;
        }
    }
    & .project-slider-wrapper {
        & .project-slider {
            padding-top: 80px;
            @media #{$tablet-device, $large-mobile} {
                padding-top: 0;
            }
        }
    }
}
.project-slider-wrapper {
    max-width: 1200px;
    position: absolute;
    left: 250px;
    top: 110px;
    &::before {
        content: '';
        pointer-events : none;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        @media #{$tablet-device, $large-mobile} {
            background: none;
        }

    }
    @media #{$tablet-device, $large-mobile} {
        position: relative;
        left: 0;
        max-width: 100%;
        top: 0px;
    }
    @media #{$large-mobile} {
        margin-top: 20px;
    }
}

// Project Details
.project-info {
    background: $darken;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    position: absolute;
    margin-top: 60px;
    z-index: 1;
    @media #{$tablet-device, $large-mobile} {
        position: relative;
        max-width: 100%;
    }
    .project-info-inner {
        padding: 30px;
        border: 1px solid rgba(244, 71, 5, 0.37);
        border-radius: 1px;
        text-align: center;
    }

    & .title {
        color: $white;
        border-bottom: 1px solid $white;
        display: inline-block;
        font-size: 24px;
        margin-bottom: 30px;
        font-weight: 500;
    }

    & .social-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        & li {
            & .label {
                color: $white;
                font-size: 18px;
                font-family: $headings-font-family;
            }
            & a {
                color: $white;
                font-size: 14px;
                font-weight: 400;
                width: 26px;
                height: 26px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-width: 0.5px;
                border-color: rgba(255, 255, 255, 0.37);
                border-style: solid;
                border-radius: 4px;
                margin-left: 10px;
                transition: 0.4s;

                &:hover {
                    background: $secondary;
                    border-color: $secondary;
                    color: $white;
                    transition: 0.4s;
                }
            }
        }
    }
}
.project-info-list {
    & li {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 25px;
    }
    & .info-title {
        color: rgb(244, 71, 5);
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        border-bottom: 1px solid $secondary;
        margin-bottom: 20px;
        font-family: $headings-font-family;
        line-height: 1;
    }
    & .info-details {
        font-size: 14px;
        color: #f6f6f6;
        font-weight: 300;
        line-height: 1;
    }
}
.project-details-banner {
    width: 870px;
    height: 530px;
    border-radius: 10px;

    @media #{$tablet-device, $large-mobile} {
        width: 100%;
        height: 400px;
    }
}
