/*=======================================
    4.02 Service CSS
=========================================*/
.service-section {
    background-color: $ilo-blue;
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;
    color: $ilo-white;

    @media #{$tablet-device} {
        padding-bottom: 50px;
    }
    @media #{$large-mobile} {
        padding-bottom: 30px;
    }

    & .service-shape-2 {
        position: absolute;
        top: 0;
        left: 0px;
    }

    & .service-shape-1 {
        position: absolute;
        bottom: 60px;
        right: 45px;
        @media #{$extra-small-mobile} {
            right: -15px;
        }
    }
    & .title {
        color: $ilo-white;
    }
    & .proposition-title {
        text-align: right;
        color: $ilo-white;
    }
}
.t-diagram-section {
    background: $ilo-grey;
}
.vision-section {
    position: relative;
    overflow: hidden;
    padding-bottom: 100px;

    @media #{$tablet-device} {
        padding-bottom: 50px;
    }
    @media #{$large-mobile} {
        padding-bottom: 30px;
    }

    & .service-shape-2 {
        position: absolute;
        top: 0;
        left: 0px;
        z-index: -2;
    }

    & .service-shape-1 {
        position: absolute;
        bottom: 60px;
        right: 45px;
        z-index: -2;
        @media #{$extra-small-mobile} {
            right: -15px;
        }
    }
    & .title {
        color: $ilo-blue;
    }
}
.service-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media #{$desktop-device, $tablet-device} {
        justify-content: space-evenly;
    }

    @media #{$large-mobile} {
        justify-content: center;
    }
}
.single-service {
    display: inline-block;
    margin: auto;
    width: 100%;
    max-width: 50%;
    padding: 1rem 8rem 1rem 1rem;
    border-radius: 1px;
    transition: $transition-base;
    -webkit-clip-path: polygon(calc(100% - 30px) 0, 100% 30px, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(calc(100% - 30px) 0, 100% 30px, 100% 100%, 0 100%, 0 0);
    @media #{$tablet-device} {
        max-width: 300px;
        text-align: center;
        padding: 1rem;
    }
    @media #{$large-mobile} {
        text-align: center;
        padding: 1rem;
    }
    @media #{$extra-small-mobile} {
        max-width: 280px;
        padding: 30px 0 25px;
    }
    & .service-icon {
        margin-bottom: 40px;
    }
    & h4 {
        font-family: Noto Sans, sans-serif;;
        color: $ilo-white;
        font-weight: 300;
        line-height: 2;
        text-align: left;
        width: 100%;

        & span {
            line-height: .8;
            font-weight: 600;
        }
    }

    &:hover {
        box-shadow: 0px 0px 5px 0px rgba( 21, 31, 133, 0.24);
        transition: $transition-base;
        background-color: $ilo-legacy-blue;
        -webkit-clip-path: polygon(calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%, 0 0);
    clip-path: polygon(calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%, 0 0);
        & .title {
            & a {
                color: $ilo-turquoise;
            }
        }
    }
}
.right-curve-image-area {
    position: relative;
    & .shape-1 {
        position: absolute !important;
        top: -80px;
        right: -65px;
        z-index: -1;
    }
    & .curve-image {
        position: relative;
        margin-right: 30px;
        & img {
            max-width: 500px;
            max-height: 515px;
            overflow: hidden;
            border-radius: 120px 0 120px 0;
            z-index: 2;
            position: relative;
        }
        & .curve-image-bg {
            background: $secondary;
            width: 100%;
            height: 100%;
            border-radius: 120px 0;
            position: absolute;
            top: -40px;
            right: -30px;
            z-index: 1;
        }
    }
}
.left-curve-image{
    transform: scaleX(-1);
}
.center-curve-image-area {
    position: relative;
    max-width: 465px;
    max-height: 465px;
    @media #{$tablet-device, $large-mobile} {
        margin-top: 40px;
        margin-bottom: 80px;
    }
    @media #{$extra-small-mobile} {
        margin: 0px;
    }

    & .round-image {
        border-radius: 100%;
    }
    & .curve-shape-1 {
        border: 4px solid #5c5e6b;
        width: 513px;
        height: 513px;
        position: absolute;
        left: -24px;
        top: -24px;
        border-radius: 100%;

        &::before {
            content: '';
            background: $white;
            width: 80px;
            height: 12px;
            position: absolute;
            margin: 0 auto 0;
            left: 0;
            right: 0;
            z-index: 100;
            transform-origin: 50% 258px;
            top: -5px;
            animation: spin-1 40s infinite linear;
        }
        &::after {
            content: '';
            background: $white;
            width: 80px;
            height: 12px;
            position: absolute;
            margin: 0 auto 0;
            left: 0;
            right: 0;
            z-index: 100;
            transform-origin: 50% 258px;
            top: -5px;
            animation: spin-2 40s infinite linear;
        }
        @media #{$extra-small-mobile} {
            display: none;
        }
    }
    & .curve-shape-2 {
        border: 4px solid #f4e0d7;
        width: 591px;
        height: 591px;
        position: absolute;
        left: -64px;
        top: -64px;
        border-radius: 100%;

        &::before {
            content: '';
            background: $white;
            width: 80px;
            height: 12px;
            position: absolute;
            margin: 0 auto 0;
            left: 0;
            right: 0;
            z-index: 100;
            transform-origin: 50% 298px;
            top: -5px;
            animation: spin-3 60s infinite linear;
        }
        &::after {
            content: '';
            background: $white;
            width: 80px;
            height: 12px;
            position: absolute;
            margin: 0 auto 0;
            left: 0;
            right: 0;
            z-index: 100;
            transform-origin: 50% 298px;
            top: -5px;
            animation: spin-4 60s infinite linear;
        }
        @media #{$extra-small-mobile} {
            display: none;
        }
    }
    & .curve-shape-3 {
        border: 2px solid #8f9099;
        width: 60px;
        height: 60px;
        border-radius: 100%;
        position: absolute !important;
        top: inherit !important;
        bottom: -20px !important;
        left: -100px !important;
        @media #{$extra-small-mobile} {
            display: none;
        }
    }
    & .curve-shape-4 {
        border: 1px solid #be3f08;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        position: absolute !important;
        top: inherit !important;
        left: -90px !important;
        bottom: 60px !important;
        @media #{$extra-small-mobile} {
            display: none;
        }
    }
    & .curve-shape-5 {
        border: 1px solid #8f9099;
        width: 15px;
        height: 15px;
        border-radius: 100%;
        position: absolute !important;
        top: inherit !important;
        left: -20px !important;
        bottom: -10px !important;
        @media #{$extra-small-mobile} {
            display: none;
        }
    }
    & .shape-1 {
        position: absolute !important;
        top: -25px;
        right: -35px;
        z-index: -1;

    }
}
.service-details-banner {
    height: 530px;
    border-radius: 10px;

    @media #{$desktop-device} {
        height: 450px;
    }
    @media #{$tablet-device} {
        height: 350px;
        margin-top: 40px;
    }
    @media #{$large-mobile} {
        height: 350px;
    }
    @media #{$large-mobile} {
        height: 300px;
    }
}
.content-list {
    & li {
        position: relative;
        display: flex;
        margin-bottom: 30px;
    }
    & .icon {
        position: relative;
        margin-right: 20px;
        margin-top: 8px;
        &::before{
            content: "";
            width: 20px;
            height: 20px;
            border: 1px solid #000;
            background: $white;
            display: block;
        }
        &::after {
            content: "";
            width: 20px;
            height: 20px;
            background: $secondary;
            display: block;
            position: absolute;
            left: 3px;
            top: 3px;
            z-index: -1;
        }
    }
    & p {
        max-width: 470px;
    }
}
.switch-page {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    margin-top: 20px;

    & .prev-page, & .next-page {
        & a {
            font-size: 24px;
            font-weight: 600;
            color: $primary;
            display: inline-block;
            line-height: 1;
            @media #{$large-mobile} {
                font-size: 16px;
            }

            & .icon {
                font-size: 30px;
                @media #{$large-mobile} {
                    font-size: 16px;
                }
            }

            & .text {
                line-height: 1;
            }

            &:hover {
                color: $secondary;
            }
        }
    }
}