/*----------------------------------------*/
/*  04. Pages CSS
/*----------------------------------------*/

/*=======================================
    4.01 About CSS
=========================================*/
.thematic-areas-single {
    & .tools {
        width: 100%;
        display: grid;
        grid-auto-flow: row dense;

        gap: 15px 15px;
        grid-template-areas: ". . . .";
        @media #{$tablet-device, $large-mobile, $small-mobile} {
            grid-template-areas: ". .";
        }
        @media #{$small-mobile} {
            grid-template-areas:
                "."
                ".";
        }
        & .item {
            background: transparent !important;
            border-color: #fff;
            padding: 1rem;
            text-align: center;
            & p {
                text-indent: 0;
            }

            & img {
                width: 35%;
            }
        }
    }
    #latestsILOprojects {
        & .accordion-item {
            padding-left: 1.3rem;
            border-color: #1e2ebe2d;
            .accordion-header {
                    padding: 0.5rem 0;
                    text-indent: -0.6rem;
                & i {
                    font-size: 11px;
                    color: $ilo-red;
                    margin-right: 0.3rem;
                }
            }

        }
        & .accordion-button {
            padding: 0;
            font-size: 12px;
            margin: 0;
            justify-content: flex-end;
            color: $ilo-blue;
            &::after {
                flex-shrink: 0;
                width: 1.25rem;
                height: 1rem;
                margin-left: 0.6rem !important;
            }
            &:not(.collapsed) {
                background: #fff;
                color: $ilo-blue;
            }
            &:focus {
                box-shadow: none;
            }
        }

    }
    & p {
        font-size: 14px;
        line-height: normal;
    }
    & a {
        color: $ilo-blue;
        text-decoration: underline;
    }
    & .list-group {
        & .list-group-item {
            padding: 0;
            padding-left: 1.3rem;
            border-color: #1e2ebe2d;
            & p {
                color: $ilo-dark-blue;
                padding: 0.5rem 0;
                text-indent: -0.6rem;
                & i {
                    font-size: 11px;
                    color: $ilo-red;
                    margin-right: 0.3rem;
                }
            }
        }

        &.funding {
            border-color: $ilo-blue;
            & .list-group-item {
                width: 25%;
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                align-items: center;
                border-color: transparent;
                background-color: transparent !important;
                padding: 1rem;
                text-align: center;
                & p {
                    width: 90%;
                    font-size: 12px;
                    margin: 0;
                    text-indent: 0;
                    padding: 0;
                }
                & img {
                    width: 25%;
                }
            }
        }
    }
    .indicators-section {
        & i {
            font-size: 10px;
            color: $ilo-red;
            margin-right: 0.1rem;
            margin-left: 0.3rem;
        }
    }
    .funding-section {
        padding: 0.5rem 0;
        background: $ilo-blue;
        color: $ilo-white;
        & h3 {
            color: $ilo-white;
        }
        & .list-group p {
            color: $ilo-white;
        }
        & .funding-grid {
            padding-bottom: 0.5rem;
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 10px 10px;
            & .funding-item {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                padding: 0.4rem;
                & img {
                    width: 25%;
                    margin-bottom: 0.5rem;
                }
                & p {
                    text-align: center;
                    line-height: normal;
                    font-size: 12px;
                    margin-bottom: 0;
                    width: 85%;
                    &:nth-child(1) {
                        font-size: 13px;
                    }
                }
            }
            @media #{$tablet-device, $large-mobile } {
                grid-template-columns: 1fr 1fr;
                gap: 10px 5px;
                & img {
                    width: 45%;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}
.expertise-tab {
    & .nav-tabs {
        margin-top: 2.5rem;
        border-bottom: 1px solid #1e2ebe2d;
        .nav-link {
            color: #707071;
            line-height: 20px;
            font-size: 15px;
            padding-top: 0.7rem;
            padding-bottom: 0.7rem;
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
            &.active {
                // font-weight: bold;
                color: $ilo-legacy-blue;
                border-color:  #1e2ebe2d #1e2ebe2d #fff;
            }
            &:hover {
                color: $ilo-legacy-blue;
            }
        }
    }
    & .tab-pane {
        height: 100%;
    }
    & article {
        margin: 2rem 0;
        & h4 {
            margin-bottom: 1rem;
            color: $ilo-red;
        }
        & p {
            width: 100%;
            text-align: left;
        }
        h6 {
            vertical-align: middle;
            & i {
                margin-right: 0.2rem;
                font-size: 11px;
                color: $ilo-red;
                transform: translateY(-1px);
            }
        }
    }
}
.expertise-container {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem 5rem;
    & figure {
        background-color: $ilo-blue;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10%;
        width: 100%;
        height: 15rem;
        cursor: pointer;
        border: 1px solid $ilo-grey;
        & img {
            width: 25%;
        }
        @media #{$tablet-device, $large-mobile } {
            padding: 0;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 10rem;
            & img {
                width: 30%;
            }
        }
        & h4 {
            color: $ilo-white;
            margin-left: 1rem;
            margin-top: 3rem;
            font-size: 1.5rem;
            @media #{$tablet-device, $large-mobile } {
                margin: 1rem 0;
                font-size: 1rem;
            }
        }
        & figcaption {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            padding: 1rem;
            background: $ilo-dark-blue;
            & h5 {
                font-size: 1.1rem;
                color: $ilo-red;
            }
            & p {
                margin-top: 0.5rem;
                padding-top: 0.5rem;
                font-size: 14px;
                line-height: 1.3;
                color: $ilo-white;
                & i {
                    font-size: 11px;
                    color: $ilo-red;
                    transform: translateY(-1px);
                }
            }
        }
    }
}
.thematics-publications {
    display: grid;
    grid-auto-flow: row dense;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 15px 15px;
    grid-template-areas: ". . . . .";
    @media #{$tablet-device, $large-mobile, $small-mobile} {
        grid-template-areas: ". .";
    }
    & .gallery-content {
        margin: 0;
        width: 100%;
        padding: 2.5rem 1.5rem;
        line-height: normal;
        & a {
            font-size: 13px;
        }
    }
}
.thematics-multimedia {
    & h3 {
        background: $ilo-dark-blue;
        color: $ilo-turquoise;
    }
    & .splide {
        & .splide__slide {
            background-blend-mode: multiply;
            background: $ilo-blue;
        }
        & .splide__arrows {
            & .splide__arrow {
                background: #230050b7;
                opacity: 1;
                & svg {
                    fill: $ilo-white;
                }
            }
        }
        & .splide__video {
            & .splide__video__play {
                background: #230050b7;
                opacity: 1;
                &::after {
                    border-color: transparent transparent transparent $ilo-white;
                }
            }
        }
        & .splide__pagination {
            & .splide__pagination__page {
                background: #D2FBFB;
                opacity: 1;
            }
        }
    }

}
.thematics-partners {
    display: grid;
    grid-auto-flow: row dense;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 15px 15px;
    grid-template-areas: ". . . .";
    @media #{$tablet-device, $large-mobile, $small-mobile} {
        grid-template-areas: ". .";
    }
    & figure {
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10rem;
        cursor: pointer;
        border: 1px solid $ilo-grey;
        @media #{$tablet-device, $large-mobile } {
            height: 10rem;
        }
        & img {
            width: 50%;
        }
        & figcaption {
            padding: 1rem;
            background: $ilo-grey;
            & h5 {
                font-size: 1.1rem;
                color: $ilo-blue;
            }
            & p {
                padding-top: 0.5rem;
                font-size: 12px;
                line-height: 1.3;
                color: $ilo-dark-blue;
                & a {
                    position: relative;
                }
            }
        }
    }
}
.thematics-events {
    & .list-group {
        & .list-group-item {
            & a {
                font-size: 14px;
                line-height: 1.5;
                }
            p {
                font-size: 12px;
                line-height: 1.2;
                text-indent: 0;
                padding: 0;
            }
        }
    }
}

.thematics-experts {
    & h3 {
        margin-bottom: 0;
    }
    & .e-grid {
        padding: 0 0.75rem;
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px 15px;
        @media #{$large-mobile, $small-mobile} {
            padding: 0;
            display: grid;
            grid-auto-rows: 1fr;
            grid-template-columns: 1fr;
        }
    }
    & .expert-card {
        width: fit-content;
        @media #{$large-mobile, $small-mobile} {
            margin-top: 1rem;
        }
        & .expert-header {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 0 0.75rem 0;
            & .avatar-badge {
                background-size: cover;
                background-position: center;
                width: 55px;
                height: 55px;
                border-radius: 50%;
                margin: 0 10px 0 0;
            }
            & .name-badge {
                font-family: "Noto Sans", sans-serif;
                font-size: 14px;
                line-height: 1.3;
                font-weight: bold;
                color: $ilo-dark-blue;
                margin-bottom: 0;
            }
        }
        & .expert-info {
            padding-top: 5px;
            border-top: 1px solid $ilo-grey;
            display: flex;
            justify-content: flex-start;
            & .triangle {
                width: 1rem;
                height: 1rem;
            }
            & p {
                font-size: 14px;
                color: #707071;
                line-height: normal;
            }
        }
    }
}
.bottom-tags {
    padding-top: 1rem;
    border-top: 1px solid $ilo-grey;
    & i {
        color: #bedcfa;
        font-size: 14px;
        @media #{$large-mobile, $small-mobile} {
            font-size: 11px;
        }
    }
    & .tags {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        & .list-group {
            & .list-group-item {
                padding-left: 0.75rem;
                font-size: 13px;
                line-height: normal;
                color: #707071;
                border: 0;
                @media #{$large-mobile, $small-mobile} {
                    font-size: 10px;
                    padding-left: 5px;
                }
            }
        }
    }
    & .last-updated {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        & p {
            padding-left: 0.5rem;
            font-size: 13px;
            color: #707071;
            @media #{$large-mobile, $small-mobile} {
                font-size: 10px;
                padding-left: 5px;
            }
        }
    }
}
