
.divider {
    border-top: 1px solid #fff;
}

#footer {
    background: #230050;
    padding: 0 0 20px 0;
    color: #fff;
    font-size: 12px;
}
.logo-ilo {
    height: 80px;
}
.logo-ilo  {
    fill: #fff;
}

.footer-top {
    background: #230050;
    padding: 5px 0 5px 0;
}

.footer-info {
    margin-bottom: 5px;
}

.footer-info h3 {
    font-size: 24px;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

.footer-info p {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.3px;
    margin-bottom: 0;
    font-family: "Noto Sans", sans-serif;
    color: #fff;
}

.footer-info a {
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.3px;
    margin-bottom: 0;
    font-family: "Noto Sans", sans-serif;
    color: #fff;
}
.footer-info a:hover {
    text-decoration: underline;
    color: #fff;
}

.footer-top h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
}

.footer-links {
    margin-bottom: 5px;
}



@media (max-width: 991px) {
    .logo-ilo {
        height: 60px;
        margin: 15px 0;
    }
    #footer .footer-top .footer-links {
        margin-bottom: 20px;
    }
}

.footer-links ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-end;
    align-items: center;
}

.footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    font-size: 12px;
    letter-spacing: -0.3px;
    line-height: 24px;
}

.footer-links ul a:hover {
    color: #fff;
    text-decoration: underline;
}
.footer-newsletter {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-end;
    align-items: flex-end;
}
.footer-newsletter .headline {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-end;
}

.footer-newsletter .headline h1 {
    color: #fff;
    white-space: nowrap;
    font-size: 18px;
    letter-spacing: -0.3px;
    line-height: 30px;
    text-align: right;
    margin-bottom: 0;
}


.footer-newsletter .headline .tri-bullet {
    transform: translateY(-1px);
    color: #fa3c4b;
}

.footer-newsletter svg {
    transform: translateY(-3.5px);
}

.footer-newsletter p {
    font-size: 12px;
    letter-spacing: -0.3px;
    color: #B0B9E1;
    text-align: right;
}

@media (max-width: 991px) {
    .footer-top .footer-newsletter {
        border-top: 0.5px solid #fff;
        width: 100%;
        align-content: flex-start;
        align-items: flex-start;
    }
    .footer-newsletter .headline h1 {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: left;
        width: 100%;
    }
    .footer-top .footer-newsletter p {
        padding-inline-start: 23px;
        text-align: left;
        width: 100%;
    }
    .footer-newsletter .headline {
        margin-bottom: 5px;
    }
}

#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}