/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.masthead {
    /* background-image: url("/images/slide.jpg"); */
    width: 100%;
    height: calc(100vh - 30px);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: stretch;
}
.masthead-small {
    width: 100%;
    height: calc(50vh - 30px);
    background-size: cover;
    background-position: bottom center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: stretch;
}

@media (max-width: 992px) {
  .masthead {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(100vh - 28px);
    position: relative;
  }
}
#header {
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.06);
  padding: 10px 0;
  background: #fff;
}

.headline {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: flex-end;
  width: fit-content;
}

.headline h1 {
  color: #230050;
  white-space: nowrap;
  font-size: 18px;
  letter-spacing: -0.3px;
  line-height: 25px;
  text-align: right;
  margin-bottom: 0;
}

.headline h1 .tri-bullet {
  transform: translateY(-1px);
  color: #fa3c4b;
}

#header p {
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #1E2DBE;
  text-align: right;
  margin-bottom: 0;
}

#header .logo a svg {
  margin: 8px 0;
  fill: #1E2DBE;
  height: 80px;
}
.logo-socpro {
    fill: #fa3c4b;
}

@media (max-width: 991px) {
  #header .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  #header .logo a svg {
    height: 60px;
  }
  .headline {
    align-content: flex-start;
  }
  .headline h1 {
    font-size: 15px;
    margin-top: 7px;
  }
  .headline p {
    display: none;
  }
}

.fixed-top {
  background: rgba(30, 45, 190, 1) !important;
  transition: all 0.3s ease;
}

@media (max-width: 991px) {
  .scrolled-offset {
    margin-top: 0px;
  }
}
