/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
  padding: 18px 0;
  width: 100vw;
  background: none;
  position: absolute;
  top: 40px;
  z-index: 98;
}
.header .d-flex {
  justify-content: space-between;
}

.headline {
  display: flex;
  color: #fff;
  align-items: flex-end;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
}
.headline h1 {
  white-space: nowrap;
  font-size: 18px;
  letter-spacing: -0.3px;
  line-height: 15px;
  text-align: right;
  margin-bottom: 0;
  transition: all 2ms ease-in;
}

.headline .tri-bullet {
  transform: translateY(-1px);
  color: #fa3c4b;
}

.headline p {
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #edf0f2;
  text-align: right;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}

.hero-image-filter {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}

.header .logo a svg {
  fill: #fff;
  height: 80px;
  transition: all 0.4s ease-in-out;
}
.sticky .logo a svg {
  fill: #fff;
  height: 44px !important;
}
.logo-socpro {
  fill: #fa3c4b;
}
.masthead-mobile {
  display: none;
}

@media (max-width: 991px) {
  .hidden-bar {
    height: 96px;
  }
  .masthead {
    display: none;
  }
  .masthead-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-position: top center;
    background-size: cover;
    z-index: -2;
    transition: all 0.4s ease-in-out;
    height: calc(100vh - 60px);
  }
  .header .d-flex {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .header .logo a svg {
    height: 60px;
  }
  .headline {
    align-content: flex-start;
  }
  .headline h1 {
    font-size: 15px;
    margin-top: 15px;
  }
  .headline p {
    display: none;
  }
}
