/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
  width: 100vw;
  height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: space-between;
  align-items: flex-start;
  z-index: 9;
  transition: all 0.4 ease-in;
}

.triangle-intro {
  position: absolute;
  width: 15%;
  top: 3rem;
  left: -10rem;
}
#hero-small {
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: flex-start;
  z-index: 15;
  transition: all 0.4 ease-in;
}

.hashtag {
  background: #fa3c4b;
  color: #fff;
  padding: 0.3rem 0.8rem;
  width: fit-content;
  border-radius: 1rem;
  font-size: 0.6rem;
}
.hero-row {
  z-index: 2;
  width: 100%;
}

.uuper_box {
  padding: 2rem 1rem 2rem 4rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #230050;
  -webkit-clip-path: polygon(
      calc(100% - 54px) 0,
      100% 35px,
      100% 100%,
      0 100%,
      0 0
    );
    clip-path: polygon(calc(100% - 35px) 0, 100% 35px, 100% 100%, 0 100%, 0 0);
    width: 60%;
    overflow: unset;
}
.strong-copyright {
  font-family: Noto Sans, sans-serif;
  font-weight:500;
  color: #fff;
  font-size: 0.8125rem;
  position: absolute;
  bottom: 3rem;
  padding: 0px 0.5rem;
  right: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
  z-index: 99;
  transition: all 0.3s ease-in-out;
}
mark {
  color: #05D2D2;
  background: none;
  padding: 0;
}
.hero-heading {
  width: 70%;
  overflow: visible;
}
.double-bullet {
  position: absolute;
  top: -2rem;
  left: -1rem;
  transform: translateY(-4);
  width: 5rem;
  padding-bottom: 1rem;
  overflow:visible;
}
.hero-heading h1 {
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  color: #fff;
  font-size: 40px;
  line-height: 48.5px;
}
.hero-heading h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  color: #ebf5fd;
  font-size: 22px;
  line-height: 26.8px;
  letter-spacing: 0.3px;
  margin-bottom: 0;
}
.hero-heading h3 {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  color: #FFCD2D;
  font-size: 20px;
  letter-spacing: 0.3px;
  padding-top: 1rem;
  margin-bottom: 0;
}
.hero-heading a {
  z-index: 9999;
}
.arrows svg {
  width: 3em;
  height: 3em;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 35px;
}

.arrows svg path {
  width: 3em;
  height: 3em;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@media (max-width: 992px) {
  .triangle-intro {
    display: none;
  }
  .double-bullet {
    width: 4rem;
    padding-bottom: 1rem;
  }
  #hero {
    height: calc(100vh);
    min-height: 400px;
    padding-bottom: 2rem;
    justify-content: flex-end;
  }
  #hero-small {
    padding-top: 5rem;
  }
  mark {
    color: #fa3c4b;
    background: #d2fbfb;
    padding: 0.2rem 0;
  }
  #hero-small .hero-row {
    width: 70%;
  }
  .hero-row {
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }
  .hero-heading {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    justify-content: space-between;

  }
  .hero-heading h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .hero-heading h2 {
    padding-bottom: 1rem;
    margin-bottom: 0;
  }
  .hero-heading p {
    font-size: 23px;
    line-height: 33px;
    letter-spacing: 0.3px;
  }
  .uuper_box {
    width: 90%;
  }

  .masthead-small {
    display: none;
  }
  .arrows svg {
    bottom: 0.5rem;
  }
  .strong-copyright {
    transform: rotate(-90deg);
    transition: all 0.3s ease-in-out;

  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows svg :nth-child(2) {
  fill: #fa3c4b;
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}
.arrows svg :nth-child(1) {
  fill: #d2fbfb;
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

