@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em Noto Sans, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: Noto Sans, serif;
  font-size: 13px;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
  color: #1e2dbe;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: inherit;
  font-family: Overpass, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.2;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Overpass, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Overpass, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Overpass, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Overpass, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Overpass, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  /* margin-bottom: 1.45rem; */
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  /* margin-bottom: calc(1.45rem / 2); */
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}

code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/

.back-to-top {
  position: fixed;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #fa3c4b;
  width: 40px;
  height: 40px;
  border-radius: 1px;
  transition: all 0.4s;
}

.back-to-top a {
  font-size: 30px;
  font-weight: 700;
  color: #230050;
  margin: 0;
}

.back-to-top:hover {
  background: #fb636f;
  color: #fff;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
}
.site {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}
#about {
  min-height: 100vh;
}
.space-vertical {
  margin: 70px 0;
}
.space-vertical-bottom {
  margin-bottom: 70px;
}
.body-text-emphasys {
  font-family: Noto Sans, sans-serif;
  font-size: 1.275rem;
  line-height: normal;
  letter-spacing: normal;
  font-weight: 700;
  color: #1f064d;
}
.body-text-emphasys span {
  font-style: italic;
  font-weight: 700;
}
.body-text {
  font-family: Noto Sans, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6rem;
  color: #000;
}
.image-sub {
  height: 30rem;
  width: 100%;
  padding: 0;
}
.body-large {
  font-size: 1.25rem;
  font-weight: 300;
  color: #1f064d;
  line-height: 1.38em;
  font-family: Overpass, sans-serif;
  margin-bottom: 0 !important;
}
.body-large .bold {
  font-weight: 700;
}
.tooltip {
  padding: .3rem;
  background-color: #69e4e4af;
  border-radius: 1px;
  font-size: 1rem;
  font-weight: 300;
  color: #1d2ebe;
  line-height: 1.3em;
  font-family: Noto Sans, sans-serif;
}
.stats-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content: center;
    align-items: stretch;
}
.stats-card .stats-card-info {
  padding-left: 1.5rem;
  padding-top: 2rem;
  width: 65%;
}
.stats-card .stats-card-image {
  padding: 1.5rem;
  width: 25%;
  margin-left: auto;

}
.card-title {
  font-size: 1.3rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.body-medium {
  font-size: 1rem;
  font-weight: 300;
  color: #1d2ebe;
  line-height: 1.3em;
  font-family: Overpass, sans-serif;
  margin-bottom: 0 !important;
}
.ident {
  padding-left: 25px;
  text-indent: -22.5px;
}
.ident::first-line {
  text-indent: 22.5px;
}
.body-large .tri-bullet {
  color: #fb636f;
  transform: translateY(-2px);
}
.body-medium .tri-bullet {
  color: #fb636f;
  transform: translateY(-1px);
}

.body-large-heading {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.3em;
  margin-bottom: 0.5rem !important;
  color: #1f064d;
}
.body-xl-large {
  font-size: 28px;
  line-height: 36.4px;
}
.strong-copyright {
  font-family: Noto Sans, sans-serif;
  font-weight:500;
  color: #1e2dbe;
  font-size: 0.8125rem;
  position: absolute;
  bottom: 3rem;
  padding: 0px 0.5rem;
  right: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
  z-index: 99;
}

.card-news {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-content: stretch;
  align-items: stretch;
  border: none;
  min-height: 15rem;
  height: 20rem;
  margin: auto;
  position: relative;
}
.card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-content: stretch;
  align-items: stretch;
  border: none;
  height: 21rem;
  margin: auto;
}
.card-news .date {
  position:absolute;
  top: .5rem;
  left: .65rem;
  padding: 0.3rem 1rem 0.3rem 1.5rem;
  background: #230050;
  color: #fff;
  font-weight: 600;
  font-family: Noto Sans, Arial, sans-serif;
  -webkit-clip-path: polygon(calc(100% - 10px) 0,100% 10px,100% 100%,0 100%,0 0);
  clip-path: polygon(calc(100% - 10px) 0,100% 10px,100% 100%,0 100%,0 0);
}
.wrapper {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.wrapper:hover > .card-header {
  transform: translateY(0);
}

.card-header {
  padding: 1rem;
  background: #EBF5FD;
  bottom: 0;
  width: 100%;
  transform: translateY(calc(60px));
  transition: transform 0.3s;
  border-radius: 0 !important;
  border: none;
  font-size: 15px;
  line-height: 25px;
}
.card-bg {
  background: #EBF5FD;
}



.card-header .date {
  color: #6e889c;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1em;
}

.card-header .card-subject {
  font-size: 15px;
  line-height: 21px;
}
a:hover {
  color: #1d2ebe;
}
.body-image-small {
  width: 4rem;
  height: 4rem;
  padding: 0.5rem;
}
.image-divider {
  height: 25rem;
}

.standard-btn {
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.3px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 1px;
  transition: 0.5s;
  line-height: 1;
  margin-top: 15px;
  color: #1d2ebe;
  border: 0;
  border: 0.5px solid #1d2ebe;
  width: fit-content;
  transition: 0.35s;
}
.standard-btn:hover,
.standard-btn:focus {
  box-shadow: inset 12.5em 0 0 0 #1d2ebe;
  text-decoration: none;
  color: #fff;
}

.standard-btn-filled {
  font-family: "Noto Sans", sans-serif;
  width: fit-content;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.3px;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  color: #230050;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.standard-btn-filled:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #05d2d2;
  z-index: -2;
}
.standard-btn-filled:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #69e4e4;
  transition: all 0.4s;
  z-index: -1;
}
.standard-btn-filled:hover {
  color: #230050;
  text-decoration: none;
}
.standard-btn-filled:hover:before {
  width: 100%;
}

.section-title-bold {
  padding: 1rem 0 1rem 1rem;
  font-weight: 700;
  background: #1f064d;
  color: #fff;
  font-size: 1.25rem;
  letter-spacing: 0.01em;
  font-family: Overpass, arial, sans-serif;
  z-index: 0;
  display: inline-block;
  -webkit-clip-path: polygon(calc(100% - 23px) 0,100% 23px,100% 100%,0 100%,0 0);
  clip-path: polygon(calc(100% - 23px) 0,100% 23px,100% 100%,0 100%,0 0);
  vertical-align: middle;
  line-height:normal;

}
.section-subtitle-bold {
  background: #1d2ebe;
  font-weight: 700;
  color: #fff;
  font-size: 1.45rem;
  line-height: 1.75rem;
  letter-spacing: 0.01em;
  font-family: Overpass, arial, sans-serif;
  z-index: 0;
  display: inline-block;
  padding: .5rem 1rem;
  width: 50%;
  vertical-align: middle;
  border-bottom: 2px solid #230050;
  -webkit-clip-path: polygon(calc(100% - 23px) 0,100% 23px,100% 100%,0 100%,0 0);
  clip-path: polygon(calc(100% - 23px) 0,100% 23px,100% 100%,0 100%,0 0);

}
.section-title-bold-center {
  font-weight: 700;
  color: #1f064d;
  font-size: 1.75rem;
  line-height: 2rem;
  letter-spacing: 0.01em;
  font-family: Overpass, arial, sans-serif;
  z-index: 0;
  display: inline-block;
  padding-bottom: 0.2rem;
  text-align: center;
  width: 80%;
}

.section-title-bold .news {
  line-height: 1.15rem;
  color: #fff;
  transition: color 0.3s ease-out;
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-bottom: 2px solid #fa3c4b;
  padding-top: 0.4rem;
  vertical-align: bottom;


}
.section-title-bold .news:hover {
  color: #fff;
  text-decoration: none;
}

.section-title-bold .news::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background: #fa3c4b;
  transition: transform 0.25s ease-out;
}

.section-title-bold .news:hover::before {
  transform: translateY(0);
  transition: transform 0.25s ease-out;
}

.section-title-bold .pub {
  letter-spacing: 0.02em;
  line-height: 1.23rem;
  color: #fff;
  transition: color 0.3s ease-out;
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  border-bottom: 2px solid #05d2d2;
  padding-top: 0.3rem;
}
.section-title-bold .pub:hover {
  color: #fff;
  text-decoration: none;
}

.section-title-bold .pub::before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background: #05d2d2;
  transition: transform 0.25s ease-out;
}

.section-title-bold .pub:hover::before {
  transform: translateY(0);
  transition: transform 0.25s ease-out;
}
.body-image-big {
  padding: 0.5rem;
}

@media (max-width: 991px) {
  .ambition-card {
    flex-wrap: wrap;
    justify-content: center;
  }
  .body-image-big {
    width: 12rem;
    padding: 0.5rem;
  }
  .image-divider {
    height: 10rem;
  }
  .ambition-card p {
    text-align: center;
    padding: 0 3rem;
    width: 80%;
  }
  .space-vertical {
    margin: 40px 0;
  }
  .space-vertical-bottom {
    margin-bottom: 40px;
  }
  .container {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .card {
    margin: 10px 0;
  }
}

.swiper-slide {
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* CARDS INTRO */

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0rem 0;
  overflow: hidden;
  position: relative;
  color: #230050;
}

.postcard a {
  color: inherit;
}
.postcard h1, .postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
.postcard .small {
  font-size: 80%;
}
.postcard .postcard__title {
  font-size: 1.75rem;
}
.postcard .postcard__img  {
  max-height: 120px;
  object-fit: cover;
  position: relative;
  width: 100%;
}
.sdg-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}


.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}
.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}
.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}
.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;

}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }
  .postcard .postcard__title {
    font-size: 2rem;
  }
  .postcard .postcard__tagbox {
    justify-content: start;
  }
  .postcard .postcard__img {
    max-width: 160px;
    max-height: 100%;
    transition: transform 0.3s ease;
    margin: 1rem;
  }
  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }
  .postcard .media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;

  }
  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }
  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }
  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }
  .postcard:nth-child(2n+1) .postcard__text {
    padding-left: 5rem;
  }
  .postcard:nth-child(2n+0) .postcard__text {
    padding-right: 5rem;
  }
  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);

  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }
}
.sub-par-wrapper {
  padding: 0;
  width: 100%;
  height: 25rem;
  -webkit-clip-path: polygon(calc(100% - 45px) 0,100% 45px,100% 100%,0 100%,0 0);
  clip-path: polygon(calc(100% - 45px) 0,100% 45px,100% 100%,0 100%,0 0);
}