.navbar {
  background: #fff;
  justify-content: flex-start !important;
  padding: 0;
  display: flex;
  z-index: 997;
  transition: all 0.3s ease;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  height: fit-content;
}
.navbar ul li a,
.navbar ul li a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10px 7px 10px;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: -0.1px;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #1e2dbe;
  white-space: nowrap;
  transition: 0.3s;
  border-left: 0.01px solid rgba(255, 255, 255, 0.2);
}

.navbar .last {
  border-right: 0.01px solid rgba(255, 255, 255, 0.2);
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #151f85;
  background: #bedcfa;
  text-decoration: none;
  height: 100%;
}
.navbar a .arrow {
  transition: all 0.25s ease-out;
  margin-right: 3px;
}
.navbar a:hover > .arrow {
  transform: rotate(90deg);
  transition: all 0.25s ease-out;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  top: 100%;
  margin: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  transition: 0.3s;
}

.navbar .dropdown a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 0.01px solid rgba(255, 255, 255, 0.2);
  text-decoration: none;
  text-align: center;
}

.navbar .dropdown li a {
  text-transform: none;
  text-decoration: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #151f85;
  background: #bedcfa;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
.mobile-nav-toggle {
  background: none;
  border: none !important;
  display: none;
}
.mobile-nav-close {
  background: none;
  border: none !important;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.mobile-nav-toggle svg,
.mobile-nav-close svg {
  width: 2rem;
  height: 2rem;
  fill: #151f85;
  z-index: 100;
}

.mobile-nav-toggle svg:hover {
  fill: #151f85;
  background: #bedcfa;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  padding: 2rem;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 99;
  width: 60vw;
  transition: all 0.25s ease-out;
}

.nav-header .social-link a {
  padding: 0;
  margin: 0;
}
.nav-header .social-link {
  padding: 5px 5px;
  border: none;
}
.nav-header .social-link a svg {
  fill: #151f85;
  width: 1.2rem;
  height: 1.2rem;
}
.navbar-mobile.navbar {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: all 0.25s ease-out;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 0px;
  right: 0px;

}
.navbar-mobile ul {
  display: block;
  padding: 3rem 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
  margin: 0;
  height: 100vh;
  transition: all 0.25s ease-out;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: -0.1px;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  color: #230050;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #230050;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  z-index: 99;
  opacity: 1;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #230050;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

@media (max-width: 991px) {
  .scrolled-offset {
    margin-top: 0px;
  }
  .offcanvas-body {
    display: none !important;
  }
  .mobile-nav-toggle,
  .mobile-nav-close {
    display: block !important;
  }
}

.offcanvas-body .nav-item {
  height: fit-content !important;
  display: flex;
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: #fff;
  border: 0;
}
.navbar-toggler span {
  color: #1e2dbe;
}
