.navbar {
  justify-content: flex-start !important;
  padding: 0;
  display: flex;
  z-index: 997;
  transition: all 0.3s ease;
}
.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: 1050;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  visibility: hidden;
  background-color: #fff;
  background-clip: padding-box;
  outline: 0;
  transition: all 0.3s ease-in-out;
}
.offcanvas.show {
  transform: none;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  height: fit-content;
}
.navbar ul li a,
.navbar ul li a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: #1e2dbe;
  white-space: nowrap;
  transition: 0.3s;
}
.nav-link.active, .nav-link.dropdown-toggle.active {
  text-decoration: underline;
  text-underline-position: under;
}

.navbar a:hover,
.navbar .active:focus,
.navbar li:hover > a {
  color: #1e2dbe;

  text-decoration: underline;
  text-underline-position: under;
  height: 100%;
}
.navbar a .arrow {
  transform: translateY(1.1px);
  transition: all 0.25s ease-out;
  margin-left: 3px;
}
.navbar a:hover > .arrow {
  transform: rotate(90deg);
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  top: 100%;
  margin: 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  transition: 0.3s;
}
.dropdown-toggle::after {
  display: none;
}
.navbar .dropdown a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  text-align: center;
}

.navbar .dropdown li a {
  text-transform: none;
  text-decoration: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #151f85;
  text-decoration: underline;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown-menu {
  border: 0;
  border-radius: 0;
}


@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
.mobile-nav-toggle {
  background: none;
  border: none !important;
  display: none;
}
.mobile-nav-close {
  background: none;
  border: none !important;
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.mobile-nav-toggle svg,
.mobile-nav-close svg {
  width: 2rem;
  height: 2rem;
  fill: #151f85;
  z-index: 100;
}

.mobile-nav-toggle svg:hover {
  fill: #151f85;
  background: #bedcfa;
}

.nav-header .social-link a {
  padding: 0;
  margin: 0;
}

.social-reach .social-link a svg {
  fill: #151f85;
  width: 1rem;
  height: 1rem;
}

@media (max-width: 992px) {
  .offcanvas-start-lg {
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }
  .offcanvas {
    width: 250px !important;
  }
  .offcanvas-header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .offcanvas-header {
    padding-top: 3rem;
  }
  .scrolled-offset {
    margin-top: 0px;
  }
  .offcanvas-body .nav-item {
    width: 100% !important;
  }
  .navbar ul {
  align-items: flex-start;
  width: 100% !important;
  }
  .nav-item a {
    width: 100% !important;
  }
  .social-reach {
    position: relative;
    justify-content: space-between;
  }
  .btn-check:focus+.btn, .btn:focus {
    outline: 0;
    box-shadow: none;
  }
}

.offcanvas-body .nav-item {
  height: fit-content !important;
  display: flex;
}
.navbar-toggler {
  padding: 0;
  line-height: 1;
  background-color: #fff;
  border: 0;
  color: #1e2dbe;
}
.navbar-close {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 0;
  line-height: 1;
  background-color: #fff;
  border: 0;
  color: #1e2dbe;
}
.navbar-toggler svg {
  width: 43px;
  height: 43px;
}
.dropdown-item.active {
  color: #151f85;
  text-decoration: underline;
  background: none;
}
.dropdown-item:hover {
  background: none;
}