/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
    align-items: center;
    background: #151F85;
    font-size: 15px;
    height: 30px;
    padding: 0;
    color: #fff;
    padding-right: 5rem;
    padding-left: 5rem;
}

@media (max-width: 991px) {
    #topbar {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        justify-items:center;
        justify-content: space-between;
        align-items: center;
    }
}

#topbar a {
    line-height: 15px;
    color: #fff;
    transition: 0.3s;
    font-size: 12px;
    text-align: left;
    text-decoration: none;
}

#topbar  a:hover {
    color: #fff;
    text-decoration: underline;
}


#topbar a:hover {
    text-decoration: underline;
}